<md-list>
  <div *ngFor="let job of jobs">
    <md-card>
      <md-card-content>
        <h1><md-card-title>{{job.employer}}, {{job.location}}</md-card-title></h1>
        <h3 *ngIf="job.status === 'A'" style="color: green">You accepted, awaiting employer confirmation.</h3>
        <h3 *ngIf="job.status === 'D'" style="color: red">You declined.</h3>
        <p md-line> Date: {{job.date}}</p>
        <p md-line> Time: {{job.startTime}} - {{job.endTime}} </p>
        <p md-line> Hours: {{job.hours}} </p>
        <p md-line> Hourly Rate: {{job.hRate}} </p>
        <p md-line> Distance: {{job.info.distance}} </p>
      </md-card-content>
      <md-card-actions>
        <button *ngIf="job.status === ''" md-raised-button [disabled] = "hasAnyJobAccepted()" color="primary" (click)="accept(job)">ACCEPT</button>
        <button *ngIf="job.status === ''" md-raised-button (click)="decline(job)">DECLINE</button>
      </md-card-actions>
    </md-card>
    <br/>
  </div>
</md-list>
