<md-card>
  <md-card-header>
      <md-card-title>
        <span (click)="previousMonth()"><md-icon>arrow_back</md-icon></span>
        <span><b>{{calendar.calendarMonthYear}}</b></span>
        <span (click)="nextMonth()"><md-icon>arrow_forward</md-icon></span>
      </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-grid-list cols="7">
      <md-grid-tile
        *ngFor="let dow of dayOfWeek"
        colspan="1"
        rowspan="1"
        [style.background]="calendar.class.header">
        {{dow}}
      </md-grid-tile>
      <md-grid-tile
        *ngFor="let day of calendar.days"
        colspan="1"
        rowspan="1"
        [style.background]="day.isSelected ? calendar.class.selected : day.isDisabled ? calendar.class.disabled : calendar.class.cell"
        (click)="day.isDisabled ? return : selectDate(day)">
        <div style="width: 100%; height: 100%; position: relative;" *ngIf="day.dayOfMonth">
          <div style="z-index: 100;width: 100%; height: 100%; text-align: center; position: absolute; display: table;">
            <div style="display: table-cell; vertical-align: middle">{{day.dayOfMonth}}</div>
          </div>
          <div style="height: 50%" [class]="day.isFullDay === 'Y' ? '' : day.isAM === 'Y' ? 'cell-bg-green' : 'cell-bg-white'"></div>
          <div style="height: 50%" [class]="day.isFullDay === 'Y' ? '' : day.isAM === 'N' ? 'cell-bg-green' : 'cell-bg-white'"></div>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>
<br/>
<div *ngFor="let day of (calendar.days | selectedDates)">
  <md-card>
    <md-card-content>
      <md-grid-list cols="4">
        <md-grid-tile colspan="1" rowspan="1">
          <span (click)="deleteDay(day)"><md-icon color="warn">delete</md-icon></span><h5 md-line>{{day.date}}</h5>
        </md-grid-tile>
        <md-grid-tile colspan="1" rowspan="1">
          <md-select placeholder="Day/Night" [(ngModel)]="day.isDayShift" (change)="onShiftChange(day)" name="day.isDayShift" style="width: 50%">
            <md-option *ngFor="let shift of shifts" [value]="shift.value">
              {{shift.type}}
            </md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile colspan="1" rowspan="1" *ngIf="day.isDayShift === 'Y'">
          <md-select placeholder="Full/Half" [(ngModel)]="day.isFullDay" (change)="onTimingsChange(day)" name="day.isFullDay" style="width: 50%">
            <md-option *ngFor="let time of timings" [value]="time.value">
              {{time.type}}
            </md-option>
          </md-select>

        </md-grid-tile>
        <md-grid-tile colspan="1" rowspan="1" *ngIf="day.isDayShift === 'Y' && day.isFullDay === 'N'">
          <md-select placeholder="AM/PM" [(ngModel)]="day.isAM" name="day.isAM" style="width: 50%">
            <md-option *ngFor="let session of sessions" [value]="session.value">
              {{session.type}}
            </md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
  <md-divider></md-divider>
</div>
